In [ ]:
!pip install pandas

In [3]:
import pandas as pd

In [5]:
dicionario = {
    'A': [1, 2, 3],
    'B': [-3, -2, -1],
    'C': [0, 10, 20],
    }
label =  ['1 linha', '2 linha', '3 linha']
datafreme = pd.DataFrame(data=dicionario, index=label)
print(datafreme)

         A  B   C
1 linha  1 -3   0
2 linha  2 -2  10
3 linha  3 -1  20

In [6]:
datafreme[['A','B']]

         A  B
1 linha  1 -3
2 linha  2 -2
3 linha  3 -1

In [7]:
datafreme['nova coluna'] = datafreme['A'] * datafreme['B']

In [8]:
datafreme

         A  B   C  nova coluna
1 linha  1 -3   0           -3
2 linha  2 -2  10           -4
3 linha  3 -1  20           -3